

.rbc-allday-cell{
    display: none;
}

.rbc-header{
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px !important;
    background-color: #17405d;
}

.rbc-time-header-cell .rbc-today{
    background-color: #04aa6d !important;
}

.rbc-time-slot{
    color: #74a4c3;
    min-height: 100px;
    z-index: -1;
}

.rbc-events-container {
    width: 100% !important;
  }

.rbc-time-slot:not(.rbc-today .rbc-time-slot){
    background-color: #eff4f7;
    min-height: 100px;
}

.rbc-event,
.rbc-background-event {
  z-index: 2;
  padding: 0px !important;
  border: none !important;
}

.rbc-event-label {
    display: none !important;
  }